<% if activity.recipient %>
  <div>
    "<%= activity.recipient.source %>" issued
    <%= link_to "a warning (##{activity.recipient_id})", ActsAsWarnable::Engine.routes.url_helpers.warning_path(activity.recipient) %>
  </div>

  <div>
    "<%= activity.recipient.message.truncate(40) %>"
  </div>

<% else %>
  Unknown warning was issued.
<% end %>
