<h1>Warnings</h1>
<ul>
  <% @warnings.each do |warning| %>
    <ul>
      <%= link_to "##{warning.id}: #{warning.message.truncate(10)}", ActsAsWarnable::Engine.routes.url_helpers.warning_path(warning) %>
      <%= "(dismissed by #{warning.dismisser.try(:full_name) || warning.dismisser.try(:email)})" if warning.dismissed? %>
    </ul>
  <% end %>
</ul>
